<head>
    <title>About</title>
</head>

<body>
    <div>
        <h1 class='title'>What is Imaginary Friend?</h1>
    <br>
    <h2 class='body-text'>&emsp; Imaginary Friend is a digital friend your child can speak 
        with. The app continuously takes in audio and runs sentiment analysis on your child's speech 
        patterns,
        looking for common phrases associated with distress or mental disorders in children.
        If the app determines that your child's speech is concerning, it sends you a text 
        with what was said and what disorders or problems it may be linked with. <br><br>&emsp; Imaginary
        Friend is meant to be used as a lightweight, early diagnostic tool for potential mental disorders. 
        It uses words from data sets pulled from mentally ill children. Disorders in the datasets include ...
        
    </h2>


    </div>
</body>