<head>
    <title>Imaginary Friend | Home</title>
    <script src="/javascripts/post.js"></script>
    <script src="/stylesheets/style.css"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/big-bottom-cartoon-normal"
        type="text/css" />
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img id="toy" src="/images/narwhal.png" alt="Toy Placeholder">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-primary" onclick="startRecording()">Record</button>
                <button type="button" class="btn btn-primary" onclick="stopRecording()">Stop</button>
                <button type="button" class="btn btn-primary" onclick="download()">Download</button>
            </div>
        </div>
        <div class="row">
        </div>
    </div>

    <p id = "test">Test</p>
    <script>document.write(5+6)</script>

    <form class="form-signin">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt=""
            width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" width="300" id="inputEmail" class="form-control"
            placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
            placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

    {{!-- https://julienrenaux.fr/2014/09/23/d3-js-responsive-word-cloud/
    --}}

</body>